.left-form{
    -fx-background-color:linear-gradient(to bottom , #011b4a, #004cc5);
    -fx-border-color:#000;
    -fx-border-width:.4px 0px .4px .4px
}

.right-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .4px 0px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.close:hover{
    -fx-background-color:#ff0022;
}

.textfield{
    -fx-background-color:linear-gradient(to bottom,#efefef,#eee);
    -fx-background-radius:4px;
    -fx-border-color:#000;
    -fx-border-radius:4px;
    -fx-border-width:.4px;
    -fx-font-size:13px;
    -fx-font-family:"Tahoma";
}

.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom , #011b4a, #004cc5);
    -fx-border-width:.8px;
}

.login-btn{
    -fx-background-color:linear-gradient(to bottom , #032e71, #004cc5);
    -fx-background-radius:4px;
    -fx-text-fill:#fff;
    -fx-font-fill:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}

.login-btn:hover{
    -fx-background-color:linear-gradient(to bottom , #004cc5, #032e71);
}

.my-label {
    -fx-text-fill: white !important; /* Use !important to ensure it overrides other styles */
}